[submodule "pw2022-mfe-host-"]
	path = pw2022-mfe-host-
	url = ../pw2022-mfe-host-.git
	update = merge
	branch = main
[submodule "pwc2022-mfe-topbar"]
	path = pwc2022-mfe-topbar
	url = ../pwc2022-mfe-topbar.git
	update = merge
	branch = main
[submodule "pw2022-mfe-wc-system"]
	path = pw2022-mfe-wc-system
	url = ../pw2022-mfe-wc-system.git
	update = merge
	branch = main
[submodule "pw2022-mfe-wc-demo"]
	path = pw2022-mfe-wc-demo
	url = ../pw2022-mfe-wc-demo.git
	update = merge
	branch = main
